:root {
  --slate-50 : #f8fafc;
  --slate-100 : #f1f5f9;
  --slate-200 : #e2e8f0;
  --slate-300 : #cbd5e1;
  --slate-400 : #94a3b8;
  --slate-500 : #64748b;
  --slate-600 : #475569;
  --slate-700 : #334155;
  --slate-800 : #0f172a;


  --emerald-50 : #ecfdf5;
  --emerald-100 : #d1fae5;
  --emerald-200 : #a7f3d0;
  --emerald-300 : #86efac;
  --emerald-400 : #4ade80;
  --emerald-500 : #22c55e;
  --emeral-600 : #16a34a;
  --emerald-700 : #15803d;
  --emerald-800 : #166534;
  --emerald-900 : #14532d;

}