@import url("./palete.css");
@import url("./layout.css");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.logo-text {
  color : var(--emerald-500);
}
.text-body {
  color : var(--slate-600);
}
.welcome {
  background:var(--slate-50);
}
.menu {
  display: flex;
  gap : 20px;
  align-items: center;
}
.menu a {
  color : var(--slate-600);
}
.get{
  background: var(--emerald-500);
  padding: 10px;
  border-radius: 6px;
}
.get:hover {
  transition: .5s;
  background: var(--emerald-700);
}
